.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-option label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer; 
}

.radio-option label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc; 
  margin-right: 5px; 
}

input[type="radio"]:checked + label::before {
  background-color:plum; 
}
.radio-option:hover label::before {
  border-color: #666; 
}

.voter-container{
    height: 100vh;
}
.voters-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 2rem auto;
  }
  .voter-count {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px;
    color:black; 
  }
  .voters-table th,
  .voters-table td {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .voters-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .voters-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  