<ul class="menu">
    <li class="menu-item"><a routerLink="Home">Home</a></li>
    <li class="menu-item"><a routerLink="constituency">Add New Constituency</a></li>
    <li class="menu-item"><a routerLink="add-voter">Add New Voter</a></li>
    <li class="menu-item"><a routerLink="voters-list">Voters List</a></li>
    <li class="menu-item"><a routerLink="search-voter">Search Voter Details</a></li>
    <li class="menu-item"><a routerLink="search-voter-by-constituency">Search Voter By Constituency</a></li>
</ul>